.inputContainer {
  position: absolute;
  width: 20vw;
  top: 5.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
}

.listOfItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50vh;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  overflow-y: auto;
}

.listOfItems__item {
  padding: 10px 5px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #547c7a;
  transition: 0.4s all linear;
}

.listOfItems__item:hover {
  background-color: #94c4c18c;
}

.item__text,
.item__label {
  padding: 5px;
}

.item__text {
  font-size: 0.75rem;
}

.item__label {
  font-weight: bold;
  font-size: 0.8rem;
}
