::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #94c4c1;
}

::-webkit-scrollbar-thumb:hover {
  background: #3ab8af;
}
